body {
    background: linear-gradient(rgb(0, 0, 0) 5%, rgb(255, 255, 255) 90%);
    box-sizing: content-box;
}

.imgBackground {
    position: absolute;
    z-index: -1;
    width: 100%;
    margin-top: 10%;
    padding: 0 30px;
}

.imgNav {
    height: 55px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;
}

.imgNav:hover {
    transform: scaleY(1.1);
    background: gray;
    border: 2px solid gray;
}

.navbar {
    background: black;
}

.footer {
    background: black;
    width: 100%;
    height: 200px;
}

.imgFooter {
    width: 100%;
}

h1 {
    color: white;
}

.img_card {
    height: 300px;
    border-radius: 25px;
}

.cardListProduct {
    width: 100%;
    border-radius: 25px;
}

.cardDetail {
    border: 3px solid black;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.621);
    border-radius: 25px;
    color: black;
}

.cardProduct {
    height: 540px;
    border: 3px solid black;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.621);
    border-radius: 25px;
    color: black;
}

.formLogIn {
    border-radius: 25px;

}
