{% extends '../layout/base.html' %} 
{% block content %}

    <h1>home</h1>
    {% load static %}
    <section class="container-fluid">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'img/background.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/background.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/background.png' %}" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
    </section>
    
{% endblock %}