{% extends '../layout/base.html' %} 
{% block content %}

    <h1 class="container text-center my-5 border border-5 border-warning border-start-0 border-end-0 p-1">Log In</h1>
    <section class="container">
        <a type="submit" class="btn btn-success rounded-pill w-100 my-5" href="{% url 'new-user' %}">Registrate</a>
        <form class="rounded p-5 bg-dark text-white" method="POST">
            <h2 class="text-center my-3">Ingresa tu mail de usuario y contraseña</h2>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="d-grid gap-2 mt-5">
                <button type="submit" class="btn btn-warning rounded-pill">Ingresar a sesion</button>
                <button type="submit" class="btn btn-warning rounded-pill">Reestablecer contraseña</button>
            </div>
          </form>

    </section>

    
{% endblock %}