{% extends '../layout/base.html' %} {% block content %}

<ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="btn btn-warning text-dark border border-3 border-light mx-4 active" id="pills-allProducts-tab" data-bs-toggle="pill" data-bs-target="#pills-allProducts" type="button" role="tab" aria-controls="pills-allProducts" aria-selected="false">Todos los productos</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="btn btn-warning text-dark border border-3 border-light mx-4" id="pills-beer-tab" data-bs-toggle="pill" data-bs-target="#pills-beer" type="button" role="tab" aria-controls="pills-beer" aria-selected="false">Cervezas</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="btn btn-warning text-dark border border-3 border-light mx-4" id="pills-wines-tab" data-bs-toggle="pill" data-bs-target="#pills-wines" type="button" role="tab" aria-controls="pills-wines" aria-selected="false">Vinos</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="btn btn-warning text-dark border border-3 border-light mx-4" id="pills-distilled-tab" data-bs-toggle="pill" data-bs-target="#pills-distilled" type="button" role="tab" aria-controls="pills-distilled" aria-selected="false">Destilados</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-allProducts" role="tabpanel" aria-labelledby="pills-allProducts-tab" tabindex="0">
    <h1 class="container text-center my-3 border border-5 border-warning border-start-0 border-end-0 p-1">Todos los productos</h1>
    <section class="container">
      <div class="row">
        {% for product in allProduct %}
        <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card cardProduct text-center">
            <a href="{% url 'product_detail' pk=product.id %}">
              <img
                src="{{product.image}}"
                class="card-img-top img_card"
                alt="..."
              />
            </a>
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <h3 class="card-text mt-3">$ {{product.price}}</h3>
              {% if product.stock > 0 %}
              <a
                href="{% url 'send' product.id %}"
                class="btn btn-success rounded-pill mt-4"
                ><i class="fa-solid fa-cart-shopping me-3"></i>Añadir al carrito</a>
              {% else %}
              <a
              href=""
              class="btn btn-danger rounded-pill mt-4"
              ><i class="fa-solid fa-cart-shopping me-3"></i>Sin Stock</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% empty %}
        <h1 class="text-center m-5">No hay Productos agregados</h1>
        {% endfor %}
      </div>
    </section>
  </div>
  <div class="tab-pane fade" id="pills-beer" role="tabpanel" aria-labelledby="pills-beer-tab" tabindex="0">
    <h1 class="container text-center my-3 border border-5 border-warning border-start-0 border-end-0 p-1">Cervezas</h1>
    <section class="container">
      <div class="row">
        {% for product in beers %}
        <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card cardProduct text-center">
            <a href="{% url 'product_detail' pk=product.id %}">
              <img
                src="{{product.image}}"
                class="card-img-top img_card"
                alt="..."
              />
            </a>
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <h3 class="card-text mt-3">$ {{product.price}}</h3>
              {% if product.stock > 0 %}
              <a
                href="{% url 'send' product.id %}"
                class="btn btn-success rounded-pill mt-4"
                ><i class="fa-solid fa-cart-shopping me-3"></i>Añadir al carrito</a>
              {% else %}
              <a
              href=""
              class="btn btn-danger rounded-pill mt-4"
              ><i class="fa-solid fa-cart-shopping me-3"></i>Sin Stock</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% empty %}
        <h1 class="text-center m-5">No hay Productos agregados</h1>
        {% endfor %}
      </div>
    </section>
  </div>
  <div class="tab-pane fade" id="pills-wines" role="tabpanel" aria-labelledby="pills-wines-tab" tabindex="0">
    <h1 class="container text-center my-3 border border-5 border-warning border-start-0 border-end-0 p-1">Vinos</h1>
    <section class="container">
      <div class="row">
        {% for product in wines %}
        <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card cardProduct text-center">
            <a href="{% url 'product_detail' pk=product.id %}">
              <img
                src="{{product.image}}"
                class="card-img-top img_card"
                alt="..."
              />
            </a>
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <h3 class="card-text mt-3">$ {{product.price}}</h3>
              {% if product.stock > 0 %}
              <a
                href="{% url 'send' product.id %}"
                class="btn btn-success rounded-pill mt-4"
                ><i class="fa-solid fa-cart-shopping me-3"></i>Añadir al carrito</a>
              {% else %}
              <a
              href=""
              class="btn btn-danger rounded-pill mt-4"
              ><i class="fa-solid fa-cart-shopping me-3"></i>Sin Stock</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% empty %}
        <h1 class="text-center m-5">No hay Productos agregados</h1>
        {% endfor %}
      </div>
    </section>
  </div>
  <div class="tab-pane fade" id="pills-distilled" role="tabpanel" aria-labelledby="pills-distilled-tab" tabindex="0">
    <h1 class="container text-center my-3 border border-5 border-warning border-start-0 border-end-0 p-1">Destilados</h1>
    <section class="container">
      <div class="row">
        {% for product in distilled %}
        <div class="mt-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card cardProduct text-center">
            <a href="{% url 'product_detail' pk=product.id %}">
              <img
                src="{{product.image}}"
                class="card-img-top img_card"
                alt="..."
              />
            </a>
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <h3 class="card-text mt-3">$ {{product.price}}</h3>
              {% if product.stock > 0 %}
              <a
                href="{% url 'send' product.id %}"
                class="btn btn-success rounded-pill mt-4"
                ><i class="fa-solid fa-cart-shopping me-3"></i>Añadir al carrito</a>
              {% else %}
              <a
              href=""
              class="btn btn-danger rounded-pill mt-4"
              ><i class="fa-solid fa-cart-shopping me-3"></i>Sin Stock</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% empty %}
        <h1 class="text-center m-5">No hay Productos agregados</h1>
        {% endfor %}
      </div>
    </section>
  </div>
</div>

{% endblock %}
